{% extends "base.html" %}
{% block content %}
  {%include'flash.html'%}
  <div class="container">
<form action="{{ url_for('addteamleaders')}}" method="post"> 
    <h5>Enter the Disposables Details</h5>
    <div class="form-group">
        <h5>Team id</h5>
        <input class="form-control" type="text" name="team_id" placeholder="100-00-0008">
    </div>
    <div class="form-group">
        <h5>Employee id</h5>
        <input class="form-control" type="text" name="emp_id" placeholder="87971">
    </div>

    <div class="form-group">
        <button class="btn btn-outline-info">Submit</button>
    </div>
    </form>
</div>
    {% endblock %}