<!DOCTYPE html>
<html>
<head>
<title>LoginPage</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  
   
    <div class+"container">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><i class="fas fa-home"></i>Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/coworker">Employee<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/team">Teams</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/teamleader">Teamleader</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/experiment">Experiment</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/task">Task</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/equipment">Equipments</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/disposable">Disposables</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/orders">Orders</a>
            </li>
           
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Views
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/inventory">Available inventory</a>
                <a class="dropdown-item" href="/manager">Manager contact information</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/taskcomplete">Task completed list</a>
                <a class="dropdown-item" href="/taskincomplete">Task incomplete list</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/teaminfo">Team information</a>
                <a class="dropdown-item" href="/orderinfo">Inventory ordered</a>
              </div>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-plus"></i>  Add
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                  <a class="dropdown-item" href="/Employeeadd">Add Employee</a>
                  <a class="dropdown-item" href="/experimentsadd">Add Experiment</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/orderssadd">Add Orders</a>
                  <a class="dropdown-item" href="/tasksadd">Add Tasks</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/disposablessadd">Add Equipment</a>
                  <a class="dropdown-item" href="/equipmentadd">Add disposables</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/teamadd">Add team</a>
                  <a class="dropdown-item" href="/teamleaderadd">Add teamleaders</a>
                </div>
            </li>
            
          </ul>
          <style>
            .navbar-nav > li{
            padding-left:16px;
             padding-right:16px;
             }
          </style>
        </div>
      </nav>
    </div>
    
	{% block content %}




	{% endblock %}

</body>
</html>