{% extends "base.html" %}
  {% block content %}
    {%include'flash.html'%}
    
    
        <table class="table table-hover table-secondary table-m mt-3">
            <thead>
               
                <th>Disposable </th>
                <th>Available inventory</th> 
                <th>Edit</th>
                <th>Delete</th> 

            </thead>
            <tbody>
               {% for i in disposable %} 
                <tr>
                 <td>{{i.disposable_type}}</td>
                 <td>{{i.inv_available}}</td>
                 <td> <a  href="#"class="btn btn-info">Edit</a></td>
                 <td> <a  href="#"class="btn btn-danger active">Delete</a></td>

                </tr>
                {% endfor %}
             </tbody>

        </table>
    
    {% endblock %}