{% extends "base.html" %}
  {% block content %}
    {%include'flash.html'%}

<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
  <link rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div>

<nav>

<div class="container">
<div class="jumbotron">
  <h2><i class="fas fa-vials"></i></i>Group2 Phlebotomy Data Management System</h2>
  <p></p>
</div>

</nav>

</head>
<body>
<table border="1">
	<thead>
	
	</thead>
	<tbody


  <tr>
  	
  	<td><img width="660" height="660" src="https://images.unsplash.com/photo-1588611351583-d4d4f05c2c85?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2600&q=80"></td>
    <td><img width ="660" height="660" src="https://images.unsplash.com/photo-1574689036779-bf2052a275c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2468&q=80"></td>

  </tr>
	


</tr>

	</tbody>



</table>
</body>
</html>
{% endblock %}