{% extends "base.html" %}
  {% block content %}
    {% include'flash.html'%}
    
    
        <table class="table table-hover table-m mt-3">
            <thead>
                <th>Team id</th>
                <th>Employee id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Phone number</th>
                 
            </thead>
            <tbody>
               {% for i in teaminfofull %} 
                <tr>
                 
                 <td>{{i.team_id}}</td>
                 <td>{{i.emp_id}}</td>
                 <td>{{i.first_name}}</td>
                 <td>{{i.last_name}}</td>
                 <td>{{i.dob}}</td>
                 <td>{{i.phone_no}}</td>
                 
                </tr>
                {% endfor %}
             </tbody>

        </table>
    
    
    {% endblock %}