{% extends "base.html" %}
  {% block content %}
    {%include'flash.html'%}
    
    
        <table class="table table-hover table-secondary table-m mt-3">
            <thead>
               
                <th>Team id</th>
                <th>Employee id</th> 
                <th>Edit</th>
                <th>Delete</th> 

            </thead>
            <tbody>
               {% for i in team %} 
                <tr>
                 <td>{{i.team_id}}</td>
                 <td>{{i.emp_id}}</td>
                 <td> <a  href="#"class="btn btn-info">Edit</a></td>
                 <td> <a href="{{url_for('Deleteteam', id=i.emp_id , id1 = i.team_id)}}"><button class="btn btn-danger active">Delete</button></a></td>

                </tr>
                {% endfor %}
             </tbody>

        </table>
    
    {% endblock %}